@media only screen and (max-width: 767px) {

    #copyright {
        font-size: 8px;
    }

    #left_content {
        top: 30%;
        left: 25%;
        width: 50%;
        height: 36%;
    }

    #top_logo {
        width: auto;
        height: 120px;
        left: 50%;
        transform: translate(-50%);
    }

    .pink_line.tl1,
    .pink_line.tl2 {
        width: 0.5vh;
    }

    .pink_line.tl3 {
        height: 0.5vh;
    }

    .pink_line.sl2 {
        bottom: -6.5%;
        right: 50%;
        height: 20vh;
        width: 0.5vh;
    }

    #tetris_line1 {
        bottom: 3%;
    }

    #tetris_line2 {
        bottom: 11%;
    }

    #tetris_line3 {
        bottom: 19%;
    }

    #tetris_line4 {
        bottom: 27%;
    }

    .tetris {
        width: 1em;
        height: 1em;
        border: 3px solid transparent;
    }

    .t_pink {
        background-color: rgba(204, 51, 204, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #cc33cc 100%);
        border-image-slice: 1;
    }

    .t_green {
        background-color: rgba(51, 255, 51, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #33ff33 100%);
        border-image-slice: 1;
    }

    .t_purple {
        background-color: rgba(102, 102, 255, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #6666ff 100%);
        border-image-slice: 1;
    }

    .t_blue {
        background-color: rgba(102, 153, 204, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #6699cc 100%);
        border-image-slice: 1;
    }

    .t_yellow {
        background-color: rgba(255, 204, 102, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #ffcc66 100%);
        border-image-slice: 1;
    }

    #girl {
        bottom: 0%;
    }

    #right_content {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 90%;
        /* border: 1px solid; */
    }

    #video_content {
        width: 80%;
        height: auto;
        left: 50%;
        transform: translate(-50%);
        /* border-right: 0.5vh solid #ffffff;
        border-top: 0.5vh solid #ffffff;
        border-bottom: 0.5vh solid #ffffff; */
        border: 0.5vh solid #ffffff;
        filter: none;
    }

    .vl1,
    .vl2,
    .vl3 {
        display: none;
    }

    .pink_line.sl1 {
        display: none;
    }

    #down {
        bottom: 30%;
        width: 150px;
        height: 150px;
        font-size: 14px;
        line-height: 18px;
        animation: none;
    }

    .down_date {
        font-size: 24px;
        line-height: 20px;
    }

    .down_event {
        font-size: 28px;
        line-height: 36px;
    }

    #trailer_num {
        display: none;
    }

    #works_content {
        top: 15%;
        left: 10%;
        width: 80%;
        justify-content: space-around;
        /* border: 1px solid; */
    }

    #works_content::after,
    #about_content::after {
        top: 0%;
        left: 70%;
        width: 30%;
        height: 1px;
        margin-top: -85px;
    }

    .works {
        width: 12em;
        height: 12em;
    }

    .w_title {
        font-size: 18px;
    }

    .title_e {
        font-size: 12px;
    }

    .works_btn {
        width: 50px;
        height: 50px;
    }

    .title {
        left: 10%;
        margin-top: -25%;
        font-size: 5em;
        letter-spacing: 0.1em;
        transform: none;
        /* border: 1px solid; */
    }

    #about_content {
        left: 7.5%;
        top: 25%;
        width: 85%;
        height: 60%;
        /* border: 1px solid; */
    }

    .pink_line.al3::after {
        top: -18px;
        width: 160px;
        border-bottom: 20px solid #ffffff;
        border-left: 20px solid transparent;
    }

    #about_num {
        font-size: 4px;
    }

    #about_logo {
        width: 260px;
        height: 90px;
        left: 50%;
        transform: translate(-50%);
    }

    #about_sub {
        top: 100px;
        left: 10%;
        width: 80%;
        font-size: 10px;
        line-height: 25px;
        /* border: 1px solid; */
    }

    .sub_b {
        font-size: 16px;
    }

    #about_word {
        top: 200px;
        left: 10%;
        width: 80%;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }

    #about_voice {
        display: none;
    }

    #info_event {
        top: 10%;
        left: 25%;
        width: 63%;
        font-size: 16px;
    }

    #info_date {
        top: 20%;
        left: 25%;
        width: 57%;
        font-size: 40px;
    }

    .date_s {
        font-size: 20px;
    }

    #info_address {
        top: 55%;
        left: 25%;
        width: 57%;
        height: 56px;
        font-size: 16px;
        line-height: 32px;
    }

    .address_b {
        font-size: 28px;
    }

    .modal_btn {
        top: 95%;
        left: 50%;
        transform: translate(-50%);
    }

    .info_color {
        display: none;
    }

    #side_bar {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu_bg {
        width: 100vw;
        left: -140vw;
        background-size: cover;
    }

    #menu_link_content {
        width: 40%;
        height: 80%;
        left: 10%;
        top: 7.5%;
        /* border: 1px solid; */
    }

    .link_row {
        flex: 0.25;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu_link {
        font-size: 20px;
    }

    .link_triangle {
        opacity: 0.5;
    }

    .link_sub {
        display: none;
    }

    .link_line {
        height: 2px;
        margin-top: 0;
    }

    #menu_sns_content {
        top: 25%;
        left: 80%;
        width: 15%;
        height: 40%;
        /* border: 1px solid; */
    }

    #menu_sns {
        flex: 1;
        flex-direction: column;
    }

    #sns_word {
        display: none;
    }

    #menu_logo {
        height: 60px;
        right: 7.5%;
    }
}

@media only screen and (max-width: 480px) {

    #left_content {
        top: 25%;
        left: 20%;
        width: 60%;
        height: 40%;
        /* border: solid; */
    }

    #top_logo {
        height: 86px;
    }

    .pink_line.sl2 {
        bottom: 7.5%;
        height: 10vh;
    }

    #tetris_line1 {
        bottom: 2%;
    }

    #tetris_line2 {
        bottom: 9%;
    }

    #tetris_line3 {
        bottom: 16%;
    }

    #tetris_line4 {
        bottom: 23%;
    }

    .tetris {
        width: 0.75em;
        height: 0.75em;
        border: 2px solid transparent;
    }

    .t_pink {
        background-color: rgba(204, 51, 204, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #cc33cc 100%);
        border-image-slice: 1;
    }

    .t_green {
        background-color: rgba(51, 255, 51, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #33ff33 100%);
        border-image-slice: 1;
    }

    .t_purple {
        background-color: rgba(102, 102, 255, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #6666ff 100%);
        border-image-slice: 1;
    }

    .t_blue {
        background-color: rgba(102, 153, 204, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #6699cc 100%);
        border-image-slice: 1;
    }

    .t_yellow {
        background-color: rgba(255, 204, 102, 0.5);
        border-image: linear-gradient(to bottom right, #ffffff 0%, #ffcc66 100%);
        border-image-slice: 1;
    }

    #girl {
        left: -30%;
        bottom: 0%;
        width: 160%;
    }

    #video_content {
        border: 1px solid #ffffff;
    }

    #down {
        width: 120px;
        height: 120px;
        font-size: 10px;
        line-height: 14px;
    }

    .down_date {
        font-size: 18px;
        line-height: 22px;
    }

    .down_event {
        font-size: 20px;
        line-height: 22px;
    }

    .title {
        margin-top: -35%;
        font-size: 48px;
    }

    .title.section_a {
        top: 5%;
    }

    #works_content {
        height: 70%;
    }

    .works {
        width: 110px;
        height: 110px;
    }

    .w_title {
        font-size: 12px;
        line-height: 12px;
    }

    .title_e {
        font-size: 8px;
    }

    .works_btn {
        width: 30px;
        height: 30px;
    }

    #about_num {
        font-size: 2.5px;
        top: -5px;
    }

    #about_content {
        top: 5%;
        height: 80%;
    }

    #about_logo {
        width: 200px;
        height: 68px;
    }

    #about_word {
        font-size: 12px;
        line-height: 20px;
    }

    #info_event {
        width: 75%;
        left: 12.5%;
    }

    #info_event::before {
        right: 0%;
        width: 30%;
    }

    #info_date {
        left: 12.5%;
        width: 75%;
        font-size: 28px;
    }

    #info_date::before {
        height: 5%;
    }

    .date_s {
        font-size: 14px;
    }

    #info_address {
        left: 12.5%;
        width: 75%;
        font-size: 12px;
    }

    .address_b {
        font-size: 26px;
    }

    #menu_link_content {
        width: 70%;
    }

    .menu_link {
        font-size: 16px;
    }

    #menu_logo {
        height: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

    #copyright {
        font-size: 8px;
    }

    #left_content {
        top: 27%;
        left: 22.5%;
        width: 55%;
        height: 40%;
    }

    #top_logo {
        width: auto;
        height: 170px;
        top: -2.5%;
        left: 50%;
        transform: translate(-50%);
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    }

    .pink_line.tl1,
    .pink_line.tl2 {
        width: 0.5vh;
    }

    .pink_line.tl3 {
        height: 0.5vh;
    }

    .pink_line.sl2 {
        bottom: -6.5%;
        right: 50%;
        height: 20vh;
        width: 0.5vh;
    }

    #tetris_line1 {
        bottom: 3%;
    }

    #tetris_line2 {
        bottom: 11%;
    }

    #tetris_line3 {
        bottom: 19%;
    }

    #tetris_line4 {
        bottom: 27%;
    }

    #girl {
        bottom: -2.5%;
    }

    #right_content {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 90%;
        /* border: 1px solid; */
    }

    #video_content {
        width: 80%;
        height: auto;
        left: 50%;
        bottom: -5%;
        transform: translate(-50%);
        border: 0.5vh solid #ffffff;
        /* filter: none; */
    }

    .vl1,
    .vl2,
    .vl3 {
        display: none;
    }

    .pink_line.sl1 {
        display: none;
    }

    #down {
        bottom: 27.5%;
        width: 180px;
        height: 180px;
        line-height: 24px;
        animation: none;
    }

    .down_date {
        font-size: 28px;
        line-height: 24px;
    }

    .down_event {
        font-size: 28px;
        line-height: 36px;
    }

    #trailer_num {
        bottom: 30%;
        left: 25%;
        width: 50%;
        font-size: 10px;
    }

    #works_content {
        top: 15%;
        left: 10%;
        width: 80%;
        justify-content: space-around;
        /* border: 1px solid; */
    }

    #works_content::after,
    #about_content::after {
        top: -3%;
        left: 57.5%;
        width: 40%;
        height: 1px;
        margin-top: -85px;
    }

    .works {
        width: 17em;
        height: 17em;
    }

    .title {
        left: 10%;
        margin-top: -25%;
        font-size: 5.5em;
        letter-spacing: 0.1em;
        transform: none;
    }

    #about_content {
        left: 7.5%;
        top: 25%;
        width: 85%;
        height: 60%;
    }

    #about_content::after {
        margin-top: -110px;
    }

    .pink_line.al3::after {
        top: -18px;
        width: 160px;
        border-bottom: 20px solid #ffffff;
        border-left: 20px solid transparent;
    }

    #about_num {
        font-size: 4px;
    }

    #about_logo {
        left: 50%;
        transform: translate(-50%);
    }

    #about_sub {
        top: 120px;
        left: 10%;
        width: 80%;
        font-size: 12px;
        line-height: 25px;
        /* border: 1px solid; */
    }

    .sub_b {
        font-size: 18px;
    }

    #about_word {
        top: 240px;
        left: 10%;
        width: 80%;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
    }

    #about_voice {
        display: none;

    }

    #info_event {
        left: 10%;
        width: 68%;
    }

    #info_date {
        left: 10%;
        width: 60%;
    }

    .date_s {
        font-size: 32px;
    }

    #info_address {
        left: 10%;
        width: 80%;
        font-size: 18px;
    }

    .modal_btn {
        left: 75%;
    }

    .info_color {
        display: none;
    }

    #side_bar {
        display: none;
    }

    #bar_content {
        width: 55%;
        /* border: 1px solid; */
    }

    .icon {
        height: 50%;
    }

    .menu_bg {
        background-size: cover;
    }

    #menu_link_content {
        width: 40%;
        height: 80%;
        /* border: 1px solid; */
    }

    .link_row {
        flex: 0.25;
        flex-direction: column;
        justify-content: space-around;
    }

    .link_sub {
        display: none;
    }

    #menu_sns_content {
        width: 69%;
        height: 5%;
        top: 92.5%;
        /* border: 1px solid; */
    }

    #sns_word {
        flex: 0.5;
    }

    #sns_word::before {
        top: 25%;
        width: 25%;
    }

    #menu_sns {
        flex: 0.5;
    }

    .m_icon {
        height: 60%;
    }

    #menu_logo {
        height: 80px;
        bottom: 11%;
    }

    #menu_line {
        top: 10%;
        height: 65%;
    }
}

@media only screen and (min-width: 980px) and (max-width: 1100px) {

    #copyright {
        font-size: 8px;
    }

    #left_content {
        top: 27%;
        left: 22.5%;
        width: 55%;
        height: 40%;
    }

    #top_logo {
        width: auto;
        height: 220px;
        top: -2.5%;
        left: 50%;
        transform: translate(-50%);
        filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
    }

    .pink_line.tl1,
    .pink_line.tl2 {
        width: 0.5vh;
    }

    .pink_line.tl3 {
        height: 0.5vh;
    }

    .pink_line.sl2 {
        bottom: -6.5%;
        right: 50%;
        height: 20vh;
        width: 0.5vh;
    }

    #tetris_line1 {
        bottom: 3%;
    }

    #tetris_line2 {
        bottom: 11%;
    }

    #tetris_line3 {
        bottom: 19%;
    }

    #tetris_line4 {
        bottom: 27%;
    }

    .tetris{
        width: 2.5em;
        height: 2.5em;
    }

    #girl {
        bottom: -2.5%;
    }

    #right_content {
        top: 10%;
        left: 5%;
        width: 90%;
        height: 90%;
    }

    #video_content {
        width: 80%;
        height: auto;
        left: 50%;
        bottom: -5%;
        transform: translate(-50%);
        border: 0.5vh solid #ffffff;
    }

    .vl1,
    .vl2,
    .vl3 {
        display: none;
    }

    .pink_line.sl1 {
        display: none;
    }

    #down {
        bottom: 27.5%;
        width: 240px;
        height: 240px;
        line-height: 28px;
        animation: none;
    }

    .down_date {
        font-size: 36px;
        line-height: 42px;
    }

    .down_event {
        font-size: 42px;
        line-height: 42px;
    }

    #trailer_num {
        bottom: 30%;
        left: 25%;
        width: 50%;
        font-size: 10px;
    }

    #works_content {
        top: 15%;
        left: 10%;
        width: 80%;
        justify-content: space-around;
    }

    #works_content::after,
    #about_content::after {
        top: -5%;
        left: 57.5%;
        width: 40%;
        height: 1px;
        margin-top: -70px;
    }

    .works {
        width: 22.5em;
        height: 22.5em;
    }

    .w_title {
        font-size: 32px;
    }

    .title_e {
        font-size: 24px;
    }

    .works_btn {
        width: 100px;
        height: 100px;
    }

    .title {
        left: 10%;
        margin-top: -25%;
        font-size: 7.5em;
        letter-spacing: 0.1em;
        transform: none;
    }

    #about_content {
        left: 7.5%;
        top: 25%;
        width: 85%;
        height: 45%;
    }

    #about_content::after {
        margin-top: -110px;
    }

    .pink_line.al3::after {
        top: -18px;
        width: 160px;
        border-bottom: 20px solid #ffffff;
        border-left: 20px solid transparent;
    }

    #about_num {
        font-size: 6px;
    }

    #about_logo {
        left: 50%;
        transform: translate(-50%);
    }

    #info_event {
        width: 50%;
    }

    #info_date {
        width: 45%;
    }

    .date_s {
        font-size: 32px;
    }

    .modal_btn {
        left: 62%;
        width: 120px;
        height: 120px;
    }

    #side_bar {
        display: none;
    }

    #bar_content {
        width: 45%;
    }

    .icon {
        height: 50%;
    }

    .menu_bg {
        background-size: cover;
    }

    #menu_link_content {
        width: 75%;
        height: 420px;
        /* border: 1px solid; */
    }

    .link_sub {
        font-size: 10px;
    }

    #menu_sns_content {
        width: 45%;
        height: 70px;
        /* border: 1px solid; */
    }

    #sns_word::before {
        width: 30%;
    }

    #menu_sns {
        flex: 0.5;
    }

    #menu_logo {
        height: 80px;
    }

    #menu_line {
        right: 0;
    }
}