@media only screen and (max-width: 767px) {

    #main_logo {
        left: 50%;
        top: 15%;
        width: auto;
        height: 7.5vh;
        transform: translate(-50%);
    }

    .info_all {
        top: 27.5%;
        width: 60vw;
        left: 13.5%;
        /* border: 1px solid; */
    }

    .info_all::before {
        display: none;
    }

    #info_content {
        left: -15%;
        width: 130%;
    }

    #info_top::before {
        display: none;
    }

    #info_bottom {
        flex-direction: column-reverse;
        align-items: center;
        width: 150%;
        left: -15%;
        padding-top: 10px;
        /* border: 1px solid; */
    }

    #member_content {
        margin-left: 0;
        justify-content: space-around;
        /* border: 1px solid; */
    }

    #site_content {
        width: 60%;
        padding-bottom: 20px;
        border-left: none;
        border-bottom: 1px solid;
        margin-left: 0;
        margin-top: 50px;
        margin-bottom: 20px;
        /* border: 1px solid; */
    }

    .info_btn.bt1 {
        display: none;
    }

    .info_btn.bt2 {
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: -20px;
        margin-right: 0px;
    }

    .btn_arrow {
        width: 30%;
    }

    #footer {
        width: 140%;
        height: 100px;
        left: -10%;
        margin-top: 150px;
        margin-left: 0;
        /* border: 1px solid; */
    }

    #copyright {
        font-size: 8px;
        text-align: center;
    }

    #btn_bar {
        height: 200px;
        justify-content: space-around;
        z-index: 20;
    }

    .side_btn {
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 3vh rgba(204, 51, 204, 0.5);
    }

    #side_bar {
        display: none;
    }

    .icon {
        display: none;
    }

    .menu_bg {
        width: 100vw;
        left: -140vw;
        background-size: cover;
    }

    #menu_link_content {
        width: 40%;
        height: 80%;
        left: 10%;
        top: 7.5%;
        /* border: 1px solid; */
    }

    .link_row {
        flex: 0.25;
        flex-direction: column;
        justify-content: space-around;
    }

    .menu_link {
        font-size: 20px;
    }

    .link_triangle {
        opacity: 0.5;
    }

    .link_sub {
        display: none;
    }

    .link_line {
        height: 2px;
        margin-top: 0;
    }

    #menu_sns_content {
        top: 25%;
        left: 80%;
        width: 15%;
        height: 40%;
        /* border: 1px solid; */
    }

    #menu_sns {
        flex: 1;
        flex-direction: column;
    }

    #sns_word {
        display: none;
    }

    #menu_logo {
        height: 60px;
        right: 7.5%;
    }
}

@media only screen and (max-width: 480px) {

    #menu_link_content {
        width: 70%;
    }

    .menu_link {
        font-size: 16px;
    }

    #menu_logo {
        height: 30px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 979px) {

    #main_logo {
        width: auto;
        height: 5vh;
        left: 50%;
        transform: translate(-50%);
    }

    .info_all {
        width: 60vw;
        left: 13.5%;
        top: 22.5%;
    }

    .info_all::before {
        display: none;
    }

    #info_content {
        width: 120%;
        left: -9%;
    }

    #info_bottom {
        width: 140%;
        left: -9%;
    }

    .info_btn {
        flex: 0.4;
    }

    #site_content {
        margin-left: -20px;
    }

    #side_bar {
        display: none;
    }

    #bar_content {
        width: 55%;
        /* border: 1px solid; */
    }

    .icon {
        height: 50%;
    }

    .menu_bg {
        background-size: cover;
    }

    #menu_link_content {
        width: 40%;
        height: 80%;
        /* border: 1px solid; */
    }

    .link_row {
        flex: 0.25;
        flex-direction: column;
        justify-content: space-around;
    }

    .link_sub {
        display: none;
    }

    #menu_sns_content {
        width: 69%;
        height: 5%;
        top: 92.5%;
        /* border: 1px solid; */
    }

    #sns_word {
        flex: 0.5;
    }

    #sns_word::before {
        top: 25%;
        width: 25%;
    }

    #menu_sns {
        flex: 0.5;
    }

    .m_icon {
        height: 60%;
    }

    #menu_logo {
        height: 80px;
        bottom: 11%;
    }

    #menu_line {
        top: 10%;
        height: 65%;
    }
}

@media only screen and (min-width: 980px) {

    #main_logo {
        width: auto;
        height: 5vh;
        left: 50%;
        transform: translate(-50%);
    }

    .info_all {
        width: 60vw;
        left: 13.5%;
        top: 32%;
    }

    .info_btn {
        flex: 0.4;
    }

    #btn_bar {
        z-index: 20;
    }

    .side_btn {
        background-color: rgba(255, 255, 255, 0.75);
        box-shadow: 0px 0px 3vh rgba(204, 51, 204, 0.5);
    }

    #bar_content {
        width: 45%;
    }

    .icon {
        height: 50%;
    }

    .menu_bg {
        background-size: cover;
    }

    #menu_link_content {
        width: 75%;
        height: 420px;
        /* border: 1px solid; */
    }

    .link_sub {
        font-size: 10px;
    }

    #menu_sns_content {
        width: 45%;
        height: 70px;
        /* border: 1px solid; */
    }

    #sns_word::before {
        width: 30%;
    }

    #menu_sns {
        flex: 0.5;
    }

    #menu_logo {
        height: 80px;
    }

    #menu_line {
        right: 0;
    }
}

@media only screen and (min-width: 1200px) {

    #main_logo {
        width: 15vw;
        height: auto;
    }

    .info_all {
        top: 35%;
        left: 20%;
        width: 50vw;
    }

    .info_btn {
        flex: 0.3;
    }

    .side_btn {
        background-color: rgba(255, 255, 255, 0.5);
        box-shadow: none;
    }

    #bar_content {
        width: 30%;
    }

    .icon {
        height: 40%;
    }

    #menu_link_content {
        width: 60%;
    }

    .link_sub {
        font-size: 15px;
    }

    #menu_sns_content {
        width: 50%;
    }

    #sns_word {
        flex: 0.7;
    }

    #sns_word::before {
        width: 50%;
    }

    #menu_sns {
        flex: 0.3;
    }

    #menu_logo {
        height: 90px;
    }

    #menu_line {
        right: 20%;
    }
}