@charset "utf-8";
/* CSS Document */
html {
	overflow-x: hidden;  
}
/* loading */
#loading_bg {
	z-index: 999;
	overflow: hidden;
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background: #090947;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .loading_top {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
	background: #edf0f4;
	opacity: 0.95;
  }
  
  .loading_content {
	position: absolute;
	width: 50%;
	height: 50%;
	top: 50%;
	left: 50%;
	/*border:1px solid;*/
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .loading_title {
	position: absolute;
	width: auto;
	height: 60%;
	margin-bottom: 10%;
  }
  
  .loading_word {
	position: absolute;
	color: #090947;
	letter-spacing: 0.5vh;
	transform: rotate(-10deg);
	margin-top: 15%;
	font-weight: 500;
  }
  
  .line_content {
	position: absolute;
	width: 100%;
	height: 30%;
	/*border:1px solid;*/
	transform: rotate(-10deg);
  }
  
  .loading_line {
	position: absolute;
	width: 0%;
	height: 2px;
	top: 50%;
	margin: 0;
	background: #090947;
  }
  
  .loading_line.line_01 {
	left: 0%;
	animation: line01 3s infinite linear;
  }
  
  .loading_line.line_02 {
	left: 70%;
	animation: line02 3s 0.5s infinite;
  }
  
  @keyframes line01 {
	0% {
	  width: 0;
	  left: 0%;
	}
	12.5% {
	  width: 20%;
	  left: 10%;
	}
	20% {
	  width: 1%;
	  left: 30%;
	}
	25% {
	  width: 0%;
	  left: 32%;
	}
  }
  @keyframes line02 {
	0% {
	  width: 0;
	  left: 70%;
	}
	50% {
	  width: 40%;
	  left: 100%;
	}
	51% {
	  width: 0;
	  left: 100%;
	}
  }
.copywriting{
	font-size: 1.2em;
	letter-spacing: 1px;
}
.copywriting2{
	font-size: 0.9em;
	letter-spacing: 0px;
}
.cw1{
	top: 45%;
	left: 36%;
}
.cw2{
	top: 53%;
	left: 25%;
}
.cw3{
	top: 20%;
	left: 20%;
	padding-left: 60px;
	padding-right: 60px;
}
.cw4{
	top: 30%;
	left: 15%;
	
}
.cw5{
	top: 35%;
	right: 0%;
}
.cw6{
	top: 45%;
	right: 0%;
	padding-right: 0;
	margin-right: -5px;
}
.section2{
	margin-top: 50px;
}
.concept{
	position: relative;
	top: 170px;
	margin-left: 18%;
	display: inline-block;
	color: #f0f0f0;
	font-size: 1.2vmax;
	font-style:italic;
	font-weight: 400 !important;
	padding: 20px 20px 0px;
	text-shadow: 0.1em 0.1em #BB33D5;
	background-color: rgba(255, 255, 255, 0.4);
}
.fbmove{
	position: relative;
	display: inline-block;
	margin-left: 5%;
	border: 0.5vmax solid;
	padding: 10px;
	border-image: linear-gradient(155deg, #4903ec23 0%, #0213fa 100%) 1 round;
}

.r1,.r2,.r3,.r4,.r5,.r6{
	margin-top: 0px;
	margin-bottom: 0px;
}
.r1,.r4,.r6{
	padding-left: 20px;
}
.section3{
	margin-top: 150px;
	margin-bottom: -50px;
	text-align: center;
}
.t2{
	text-align: right;
	position: absolute;
	margin: 0;
	display: inline-block;
	right: 10%;
	top: 5%;
}
.advisorcontainer{
	position: relative;
	/* left: 25%; */
	margin-top: 10%;
}
.advisor{
	padding: 30px;
	/* border: 1px solid red; */
	position: relative;
	display: inline-block;
	color: #f0f0f0;
}
.tpic{
	width: 150px;
}
.adbottom{
	vertical-align: middle;
	text-align: left;
}
.tname{
	/* padding-top: 15px; */
	font-size: 18px;
	text-align-last: left;
	margin-bottom: 10px;
}
.tline{
	display: inline-block;
	width: 70px;
	height: 1.5px;
	background-color: rgba(240, 240, 240, 0.7);
}
.teamname{
	display: inline-block;
	/* padding-top: 15px; */
	font-weight: 300;
	font-size: 13.5px;
}
.tl2{
	background-color: #ffffff00;
}
.teacher{
	display: flex;
	text-align-last: left;
	color: #fff;
	position: relative;
	margin-top: 15px;
	left: 24%;
	font-weight: normal;
	
}



/* footer */
.footer{
	/* display: none; */
    box-sizing: border-box;
    position: relative;
    bottom: 0;
	width: 100%;
	overflow: hidden;
	/* margin-top: 40px; */
	padding-top: 120px;
	padding-bottom: 50px;
}
.marqueebottom{
	margin-right: -13%;

}
img.pixel{
	position: absolute;
}

img.pixel3{
	left: 20px;
	bottom: 0;
}
img.pixel2{
	top: -130px;
	left: 150px;
}
img.pixel4{
	top: 130px;
	left: 500px;
	z-index: 2;
}